body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.nav-menu {
    height: 50px;
    width: 100%;
}

.nav-menu .mainmenu {
    float: right;
    display: inline-block;
    margin-right: 75px;
    margin-top: 10px;
}

.nav-menu .mainmenu ul li {
	display: inline-block;
	list-style: none;
	margin-right: 32px;
    position: relative;
   
}
.nav-menu .mainmenu ul li a {
	font-size: 14px;
	color: black;
	font-weight: 600;
	padding: 42px 0;
	position: relative;
    text-decoration: none;
}
h1{
    font-size: 40px;
    font-style: bold;
}
h2{
    font-size: 35px;
}
h3{
    color: rgb(50, 50, 87);
    font-size: 20px;
}
#name{
    margin-top: -47px;
}
.des{
    color: #383535;
    font-size: 14px;
    margin: -17px 132px 0px 0px;
    padding-bottom: 40px; 
}
.top-banner{
    height: 500px;
    width: 100%;
}
.skyblue-highlight{
        color: #892424;
}
.gray-highlight{
    color: #7e993d;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
.link-button{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(45deg, #42c8c8, #011cdd);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}

.half-width img{
    width: 100%;
    margin-top: 12px;
    margin-left: -50px;
}
.about-sec{
    height: 500px;
    width: 100%;

}
.about{
    color: rgb(15, 56, 83);
}
#aimg{
    margin-top: -40px;
}
.btn-download{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(45deg, #a6df20, #044412);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}
.fa-download{
    margin-right: 14px;
}
.work-experience{
    height: 750px;
    width: 100%;
    margin-bottom: 100px;
    background-color: rgb(233, 247, 244);
}
.ex-name{
    text-align: center;
    font-size: 40px;
    margin-bottom: 70px;
}
.ex-name h1{
    padding-top: 100px;

}
#lastet{

    color: rgb(192, 52, 52);
}
#WP{
    color: rgb(67, 67, 105);
}
.box{
    float: left;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 65%;
    background-color: white;
    padding: 17px;
    
}
#wp-box1{
    height: 320px;
    width: 20%;
    margin-left: 225px;
}
#wp-box1 img{
    width: 100%;
    
}
#wp-box2{
    height: 320px;
    width: 20%;
    margin-left: 25px;
}
#wp-box2 img{
    width: 100%;
}
#wp-box3{
    height: 320px;
    width: 20%;
    margin-left: 25px;
}
#wp-box3 img{
    width: 100%;
}
.p-box{
    font-size: 14px;
    color:rgb(91, 91, 99);
}

.WI-area {
    width: 70%;
    height: 250px;
    margin: 0px 0px 100px 245px;
    background-image: url(images/img1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.chat-box {
    display: inline-block;
    padding: 25px 40px;
}

.chat-box h3 {
   font-size: 45px;
   font-weight: 700;
   color: #fff;
   margin: 70px 0px 0px 30px;
}
.btnlet{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(45deg, #e07639, #dd0101);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}

#chat-btn {
    float: right;
    margin: 85px;
}
.otherskill{
    height: 300px;
    text-align: center;
}
#blue-skill{
    color: blue;
}
.skill-half{
    width: 100px;
    margin: 50px 0px 0px 50px;
    padding: 1.5%;
    float: left;
    box-shadow: 5px 5px 20px rgb(160, 155, 155);
    height: 100px;
    border-radius: 10px;
    text-align: center;
    background-image: linear-gradient(180deg, #cdcfc8, #79736a);

}
#js-skill{
    margin-left: 400px;

}
.skill-half{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
footer{
    text-align: center;
    margin-bottom: 50px;
}
footer ul li img{
    width: 55px;
}
footer h4{
    color: rgb(100, 91, 91);
    font-size: 20px;
}
footer h3{
    color: rgb(38, 36, 68);
    font-size: 30px;
}
footer ul {
    list-style-type:none;
    
}
footer li{
    display: inline-block;
    margin: 0 20px;
}

